/app/config/parameters.yml
/.docker/.npm/*
!/.docker/.npm/.gitkeep
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css
/web/js
/web/fonts
/web/images
/node_modules
.env
npm-debug.log
*.php~
