{% if items %}
    <div class="items-slider">
        {% for item in items %}
            {% if type == 'received' %}
                {% include 'item/card.html.twig' with {'matchResponent': true} %}
            {% elseif type == 'declined' %}
                {% include 'item/card.html.twig' with {'matchOwner': true} %}
            {% elseif type == 'sent' %}
                {% include 'item/card.html.twig' with {'matchOwner': true} %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<div class="alert alert-warning{% if items %} hidden{% endif %}">
    {{ 'match.offers.no.message'|trans }}
</div>
