<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "My project" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
{% block container %}
    {% block header %}
        {% include "::inc/header.html.twig" %}
    {% endblock %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}
{% block footer %}
{% include "::inc/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>