.item-card {
  background: $c-white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin: 1em 0;
  border: 1px solid $c-white2;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  max-width: 400px;

  &.active,
  &.active:hover {
    box-shadow: 0 10px 25px rgba(209, 91, 0, 1);
  }

  @include transition(all 300ms);

  &:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

    .item-header {
      .btn.btn-default.item-edit {
        color: $c1;
        background-color: $c-white;
        transition: all 0.25s ease-out;
        opacity: 1;
        border: 0;
      }

      .item-description {
        bottom: 0;
      }
    }
  }

  h3 {
    font-weight: bold;
    color: $c-black2;
  }

  .item-header {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    .item-new {
      position: absolute;
      top: 0;
      left: 0;
      padding: 6px 12px;
      background: $c2;
      color: $c2l;
      border-bottom-right-radius: 10px;
    }

    .item-edit {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0;
      border-top: 0;
      border-right: 0;
      border-bottom-left-radius: 10px;
      z-index: 10;
    }

    img {
      width: 100%;
      pointer-events: none;
    }

    .item-description {
      position: absolute;
      left: 0;
      bottom: -100%;
      width: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.92) 00%, rgba(0, 0, 0, 0.8) 10%, transparent);
      color: $c-white;
      padding: 64px 16px 16px;

      @include transition(all 300ms);
    }
  }

  .item-content {
    padding: 16px;
    margin: 0;

    .item-title {
      font-size: 24px;
      margin: 0 0 8px;
      color: $c1;
    }

    .item-value {
      font-weight: 600;
      text-align: left;
      font-size: 18px;
    }

    .item-category {
      margin-top: 8px;
      text-align: right;
      font-size: 16px;
    }

    .item-info {
      display: table;
      width: 100%;
      margin-top: 8px;

      .info-section {
        display: table-cell;
        text-transform: uppercase;

        &:first-of-type {
          text-align: left;
        }

        label {
          display: block;
          color: rgba(0, 0, 0, 0.5);
          margin-bottom: .5em;
          font-size: 9px;
        }

        span {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }

  .item-owner,
  .item-respondent,
  .link-activate,
  .link-exchange {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .item-match-decline {
    border-bottom-left-radius: 10px;
  }

  .item-match-trade {
    border-bottom-right-radius: 10px;
  }

  .item-categories {
    margin-bottom: 8px;

    a {
      color: $c1;
    }

    h5 {
      padding: 0 15px;
      margin: 0;
    }

    ul {
      padding: 8px 12px;
      margin-bottom: 0;
    }

    .item-category-add {
      border-left: 0;
      border-right: 0;
    }
  }

  .link-exchange {
    border-radius: 0;
    border: 0;
    border-top: 1px solid $c-white2;
    padding: 10px 16px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .item-card {
    .item-content {
      .item-category {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .item-card {
    width: 100%;
    max-width: 100%;
    margin: 0.5em 0;
    display: block;
  }
}
