a {
  color: #f58936;
  &:hover {
    color: #f58936;
  }
}

.box h4 a:hover {
  color: #f58936;
}

.category-grid-box {
  .short-description h3 a:hover, .view-details:hover {
    color: #f58936;
  }
}

.ad-listing .ad-content h3 a:hover, .car-details h4:hover, .post-title a:hover, .post-info a:hover, .popular-categories li a:hover, .font-color {
  color: #f58936;
}

.ad-location-gird .location-title-disc h5 {
  &:hover, a:hover {
    color: #f58936;
  }
}

.footer-content {
  .footer-widget {
    .contact-info li:hover, &.links-widget li a:hover {
      color: #f58936;
    }
  }
  .news-widget .news-post a:hover {
    color: #f58936;
  }
}

ul.category-list-style li a:hover, .funfacts h4 span {
  color: #f58936;
}

.single-ad .ad-box .short-history li b {
  color: #f58936;
  a {
    color: #f58936;
  }
}

.ad-box i, .share-ad .modal-body p a, .item-date a {
  color: #f58936;
}

.blog-sidebar .widget .widget-content {
  .tagcloud a:hover, ul li a:hover {
    color: #f58936;
  }
}

.comming-soon-grid .count-down #clock > span {
  color: #f58936;
}

.features .features-text h3 {
  &:hover, a:hover {
    color: #f58936;
  }
}

.site-map-list li a:hover, .header-top ul li a:hover {
  color: #f58936;
}

.ad-archive-desc h3 {
  &:hover, a:hover {
    color: #f58936;
  }
}

.footer-area .contact-info li .icon, .heading-color, .ad-preview-details .overview-price span, .ad-listing .content-area .price, .category-grid-box-1 a:hover, .category-grid i, .hero .content p:first-child b {
  color: #f58936;
}

ul.category-list-data li:hover {
  &::before {
    color: #f58936;
  }
  a {
    color: #f58936;
    span {
      color: #f58936;
    }
  }
}

.category-list-title h5 > a:hover, .view-more a:hover, .category-grid-box .short-description .price, .ad-price, ul.category-list-style li:hover a i, .sidebar .side-menu nav .nav > li > a:hover, .filter-brudcrums-sort ul li a:hover, .skin-minimal .list li label:hover, .advertising .banner .submit, .recent-ads .recent-ads-list-price, .bread-3.page-header-area .small-breadcrumb .breadcrumb-link ul li a.active, .ad .content-zone .short-description-1 h3 a:hover {
  color: #f58936;
}

.user-profile ul li {
  &:hover a, &.active a {
    color: #f58936;
  }
}

.dashboard-menu-container ul li {
  &.active .menu-name, &:hover .menu-name {
    color: #f58936;
  }
}

.tags-share .tags ul li a, .comment-list .comment .comment-info .author-desc .author-title li a:hover {
  color: #f58936;
}

.why-us:hover {
  i, h5 {
    color: #f58936;
  }
}

.card .nav-tabs > li {
  &.active > a, > a:hover {
    color: #f58936;
  }
}

.accordion-title a:hover, .usefull-info .info-content h3:hover {
  color: #f58936;
}

.mega-menu {
  .drop-down a:hover, .drop-down-tab-bar a:hover {
    color: #f58936;
  }
}

.recent-ads .recent-ads-list-title a:hover, .singleContadds i {
  color: #f58936;
}

.white.category-grid-box-1 .ad-info-1 ul li {
  &:hover, a:hover {
    color: #f58936;
  }
}

.ad-listing .content-area h3 a:hover {
  color: #f58936;
}

.featured-slider .owl-controls .owl-nav {
  .owl-next:hover, .owl-prev:hover .ms-layer.btn3:hover {
    background-color: #dc7b30 !important;
  }
}

.home-category-slider .category-slider .owl-controls .owl-nav {
  .owl-next:hover, .owl-prev:hover {
    background-color: #dc7b30 !important;
  }
}

.subscribe button:hover {
  background-color: #dc7b30 !important;
}

.featured-slider-1 .owl-controls .owl-nav {
  .owl-next:hover, .owl-prev:hover {
    background-color: #dc7b30 !important;
  }
}

.sticky-post-button:hover, .btn-light:hover {
  background-color: #dc7b30 !important;
}

.featured-slider-3 .owl-controls .owl-nav {
  .owl-next:hover, .owl-prev:hover {
    background-color: #dc7b30 !important;
  }
}

.hero-form-sub li a:hover {
  background-color: #dc7b30 !important;
}

.btn-success {
  background-color: #f58936 !important;
  border-color: #f6944a !important;
  &:hover {
    background-color: #dc7b30 !important;
    border-color: #f6944a !important;
  }
}

.app-download-button {
  &.hover, &:hover, &.focus, &:focus, &:active, &.active {
    background-color: #f58936 !important;
  }
}

.ms-layer.btn3, .minimal-footer-1 .widget .social-links a:hover, .subscribe button, .social-area-share > a:hover, .search-section .search-options > li .btn.btn-danger:hover {
  background-color: #f58936 !important;
}

.featured-slider-1 .owl-controls .owl-nav {
  .owl-next, .owl-prev {
    background-color: #f58936 !important;
  }
}

.featured-slider .owl-controls .owl-nav {
  .owl-next, .owl-prev {
    background-color: #f58936 !important;
  }
}

.category-grid-box-1 .price-tag .price span {
  background-color: #f58936 !important;
}

.featured-slider-3 .owl-controls .owl-nav {
  .owl-next, .owl-prev {
    background-color: #f58936 !important;
  }
}

.small-breadcrumb .breadcrumb-link ul li a::after, .user-profile .badge, .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, .sticky-post-button, .select2-container--default .select2-results__option--highlighted[aria-selected], .mega-menu .menu-links > li.activeTriggerMobile {
  background-color: #f58936 !important;
}

.dropdown-menu > li > a {
  &:hover, &:focus {
    background-color: #f58936 !important;
  }
}

span.app-store-btn:hover, .social-links-two a:hover, .search-section .search-options > li .btn.btn-danger:hover {
  border: 1px solid #f58936 !important;
}

.slide-thumbnail .flex-active-slide img {
  border-color: #f58936 !important;
}

.pagination {
  > .active > a:hover, li:hover > a, > .active > a {
    background-color: #f58936;
    border-color: #dc7b30;
    color: #fff !important;
  }
}

.category-grid a:hover, .pricing .featured a.btn-theme:hover, .btn-orange {
  background-color: #f58936;
  border-color: #dc7b30;
  color: #fff !important;
}

.small-breadcrumb .breadcrumb-link ul li a.active {
  border-bottom: 4px solid #f58936;
  color: #f58936;
  font-weight: 600;
}

.popup-cls.close::before {
  border-color: rgba(0, 0, 0, 0) #f58936;
  border-style: solid;
  border-width: 0 70px 70px 0;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  z-index: -1;
}

.grid-panel .location-icon i, .widget-newsletter .fieldset form .submit-btn, .ad-listing .content-area .additional-info li a:hover, .noUi-connect, .card .nav-tabs > li > a::after, .ad-listing-price p {
  background: #f58936 none repeat scroll 0 0 !important;
}

.mega-menu .drop-down-multilevel li {
  &.activeTriggerMobile, &:hover {
    background: #f58936 none repeat scroll 0 0 !important;
  }
}

.cd-top {
  background: #f58936 url(../../images/cd-top-arrow.svg) no-repeat center 50%;
}

.heading-panel h3.main-title {
  border-bottom: 2px solid #f58936;
}

.mega-menu {
  .drop-down a, .drop-down-tab-bar a {
    color: #232323;
  }
  .menu-search-bar li .btn:hover {
    color: #fff;
  }
}

.btn-theme, .btn-light {
  color: #ffffff;
  background-color: #f58936;
  border-color: #f6944a;
}

.btn-theme {
  &:hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: #dc7b30;
    border-color: #f6944a;
  }
}

.open .dropdown-toggle.btn-theme, .btn-orange:hover {
  color: #ffffff;
  background-color: #dc7b30;
  border-color: #f6944a;
}

.btn-theme {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-theme {
  background-image: none;
}

.btn-theme {
  &.disabled, &[disabled] {
    background-color: #f58936;
    border-color: #f6944a;
  }
}

fieldset[disabled] .btn-theme {
  background-color: #f58936;
  border-color: #f6944a;
}

.btn-theme {
  &.disabled:hover, &[disabled]:hover {
    background-color: #f58936;
    border-color: #f6944a;
  }
}

fieldset[disabled] .btn-theme:hover {
  background-color: #f58936;
  border-color: #f6944a;
}

.btn-theme {
  &.disabled:focus, &[disabled]:focus {
    background-color: #f58936;
    border-color: #f6944a;
  }
}

fieldset[disabled] .btn-theme:focus {
  background-color: #f58936;
  border-color: #f6944a;
}

.btn-theme {
  &.disabled:active, &[disabled]:active {
    background-color: #f58936;
    border-color: #f6944a;
  }
}

fieldset[disabled] .btn-theme:active {
  background-color: #f58936;
  border-color: #f6944a;
}

.btn-theme {
  &.disabled.active, &[disabled].active {
    background-color: #f58936;
    border-color: #f6944a;
  }
}

fieldset[disabled] .btn-theme.active {
  background-color: #f58936;
  border-color: #f6944a;
}

.btn-theme .badge {
  color: #f58936;
  background-color: #ffffff;
}

.form-control:focus {
  border-color: #f58936;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 137, 54, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 137, 54, 0.6);
}

.country-box:hover .country-description {
  background-color: rgba(245, 137, 54, 0.86);
}

.profile-tabs .nav-tabs {
  border-color: -moz-use-text-color -moz-use-text-color #f58936;
}

.user-profile ul li.active a {
  &::before {
    border-left: 9px solid #f58936;
  }
  border-left: 3px solid #f58936;
}