.btn {
  &.btn-default {
    background: $c1;
    color: $c-white;
    border-color: $c1;

    @include transition(all 300ms);

    &:hover,
    &:focus {
      background: $c-white;
      color: $c1;
    }
  }

  &.btn-primary {
    background: $c2;
    color: $c-white;
    border-color: $c2;

    @include transition(all 300ms);

    &:hover,
    &:focus {
      background: $c-white;
      color: $c2;
    }
  }

  &.btn-block {
    border-radius: 0;
  }
}

.modal-content {
  background: $c2l;

  .modal-body {
    height: 420px;
  }
}

.list-group-item {
  display: inline-block;
  order-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 8px;
}

.nav-tabs > li > a {
  color: $c-gray;
}

.badge {
  &.badge-highlight {
    background-color: $c1;
  }
}

.fa {
  &.fa-exchange {
    font-size: 32px;
    color: $c-gray2;
  }
}
