body,
header {
  background: $c-white;
}

.vich-image {
  img {
    max-width: 100%;
  }
}

#matches-container {
  display: none;
  margin-top: 15px;
  border-top: 1px solid $c1;
  padding-top: 15px;
}

.items-slider {
  .slick-slide {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.slick-slider {
  .slick-arrow {
    position: absolute;
    top: calc(50% - 15px);
    left: -25px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;

    &.slick-next {
      left: initial;
      right: -25px;
    }
  }
}

@media screen and (max-width: 770px) {
  .slick-slider {
    .slick-arrow {
      display: none !important;
    }
  }
}

.spacer {
  height: 30px;
}

.content {
  margin-top: 30px;
}

.title {
  margin-bottom: 30px;
}

