.navbar-brand {
  position: relative;
  padding: 5px 15px;
  z-index: 2;
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
  transition: transform 0.3s;
  border-color: $c1;
  background: $c-white;
  color: $c1;
  @include transition(all 300ms);

  &:hover {
    background: $c1;
    color: $c-white;
    border-color: $c-white;
  }
}

.navbar {
  margin-bottom: 0;
  .navbar-collapse {
    position: relative;
    overflow: hidden !important;
    .navbar-right > li:last-child {
      padding-left: 22px;
    }
  }
  .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
  }
  &.navbar-default .nav-collapse {
    background-color: #f8f8f8;
  }
  &.navbar-inverse .nav-collapse {
    background-color: #222;
  }
  .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
  }
}

.nav-collapse > li {
  float: right;
}

.btn {
  &.btn-circle {
    border-radius: 50px;
  }
  &.btn-outline {
    background-color: transparent;
  }
}

.navbar {
  &.navbar-default .nav-collapse, &.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
  }
  &.navbar-default .nav-collapse.in, &.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
  }
  li {
    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    .navbar-collapse .navbar-right > li:last-child {
      padding-left: 15px;
      padding-right: 15px;
    }
    .nav-collapse {
      margin: 7.5px auto;
      padding: 0;
      .navbar-form {
        margin: 0;
      }
    }
  }
  .nav-collapse > li {
    float: none;
  }
  .navbar {
    &.navbar-default .nav-collapse, &.navbar-inverse .nav-collapse {
      transform: translate(-100%, 0px);
    }
    &.navbar-default .nav-collapse.in, &.navbar-inverse .nav-collapse.in {
      transform: translate(0px, 0px);
    }
    &.navbar-default .nav-collapse.slide-down, &.navbar-inverse .nav-collapse.slide-down {
      transform: translate(0px, -100%);
    }
    &.navbar-default .nav-collapse.in.slide-down, &.navbar-inverse .nav-collapse.in.slide-down {
      transform: translate(0px, 0px);
    }
  }
}