{% extends '::base.html.twig' %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        <div class="row">
            <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}
