<footer class="footer-area">
    <!--Footer Upper-->
    <div class="footer-content">
        <div class="container">
            <div class="row clearfix">
                <!--Two 4th column-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <div class="col-lg-7 col-sm-6 col-xs-12 column">
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    <a href="{{ path("homepage") }}"><img alt="" class="img-responsive" src="{{ asset('images/logo.png') }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Two 4th column End-->
            </div>
        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-copyright">
        <div class="container clearfix">
            <!--Copyright-->
            <div class="copyright text-center">2017 © Dinder</div>
        </div>
    </div>
</footer>
