<header>
    <div class="name fancy-font">
        Dinder
    </div>
    <div class="titles">
        <h1>Rejoice in exchange</h1>
    </div>
    <div class="social">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_logout') }}" title="Logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        {% else %}
            <a href="{{ path('fos_user_registration_register') }}" title="Register">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
            <a href="{{ path('fos_user_security_login') }}" title="Login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
</header>